@charset "UTF-8";
header {
  border-bottom: 2px solid var(--color-wedgeWood);
  background: var(--color-white);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0 20px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

header .container .logo {
  width: 165px;
}

header .container .logo img {
  display: block;
  width: 100%;
}

header .container ul.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  grid-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 0 20px;
  }
  header .container {
    height: 50px;
  }
  header .container .logo {
    width: 100px;
  }
  header .container .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 4px;
    position: absolute;
    z-index: 11;
    right: 20px;
    top: 20px;
    width: 24px;
  }
  header .container .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color-black);
  }
  header .container .hamburger.active {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  header .container .hamburger.active span {
    background-color: var(--color-white);
  }
  header .container .hamburger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(2px, 2px);
            transform: rotate(45deg) translate(2px, 2px);
  }
  header .container .hamburger.active span:nth-child(2) {
    display: none;
  }
  header .container .hamburger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
            transform: rotate(-45deg) translate(2px, -2px);
  }
  header .container .hamburger.active + ul.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 24px;
  }
  header .container ul.links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.94);
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    padding: 100px 20px 50px;
  }
}

footer {
  background-color: var(--color-mineShaft);
  padding: 40px 20px 20px 20px;
}

footer .container {
  color: var(--color-white);
}

footer .container .footerTop {
  display: block;
}

footer .container .footerTop .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  grid-gap: 10px;
}

footer .container .footerTop .socialMedia li {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .newsLetter {
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
}

footer .container .newsLetter h4 {
  margin-bottom: 7px;
  font-weight: normal;
}

footer .container .newsLetter .inputWrap {
  border: 1px solid;
  padding: 5px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .container .newsLetter .inputWrap input {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  background: none;
  padding-left: 15px;
  padding-right: 86px;
}

footer .container .newsLetter .inputWrap .btn {
  position: relative;
  z-index: 2;
}

footer .container .copy {
  display: block;
  border-top: 1px solid var(--color-white);
  margin-top: 40px;
  padding-top: 25px;
  font-weight: 300;
  font-size: 14px;
  opacity: 0.8;
}

footer .container .copy ul.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 10px;
  list-style-type: none;
  text-align: center;
}

footer .container .copy .copyText {
  text-align: center;
  padding-top: 15px;
  margin-top: 20px;
  border-top: 1px solid var(--color-white);
}

@media screen and (min-width: 1024px) {
  footer {
    margin-top: 70px;
  }
  footer .container .footerTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .newsLetter {
    margin-top: 0;
  }
  footer .container .newsLetter h4 {
    font-size: 16px;
  }
  footer .container .copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .copy ul.links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  footer .container .copy ul.links li:not(:last-child) {
    border-right: 1px solid var(--color-white);
    padding-right: 8px;
    margin-right: 8px;
  }
  footer .container .copy .copyText {
    text-align: left;
    border: none;
    padding: 0;
    margin: 0;
  }
}

.container {
  width: 100%;
  max-width: 1268px;
  margin: auto;
}

.productCard {
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0 4px 1px var(--color-silver);
          box-shadow: 0 0 4px 1px var(--color-silver);
}

.productCard .content {
  padding: 20px;
  position: relative;
}

.productCard .content .light-background {
  width: 94%;
  top: 12px;
  left: 3%;
  height: 150px;
  background-color: #F1F5F7;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.productCard .content .img {
  width: 100%;
  padding: 3%;
  height: 200px;
  margin: auto;
  margin-top: 40px;
  border-radius: 15px;
  overflow: hidden;
}

.productCard .content .img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.productCard .content .text {
  margin: 15px 15px 0;
}

.productCard .content .text small {
  margin-top: 7px;
  display: block;
  color: var(--color-wedgeWood);
}

.productCard .content .page2 {
  height: 240px;
  border-radius: 0%;
  padding: 0;
  margin-top: 0px;
}

.productCard .content .page2 .img {
  margin-top: 0px;
}

.productCard .content .page2 img {
  /*--object-fit: fill;--*/
}

@media screen and (min-width: 1024px) {
  .productCard .content .page2 {
    height: 400px;
  }
}

.productCard .page2-content {
  padding: 0;
  padding-left: 0%;
}

.productCard .page2-content .text h4 {
  color: var(--color-wedgeWood);
  font-weight: normal;
  font-size: 20px;
  margin-left: 10px;
}

.productCard .page2-content .text small {
  color: #767676;
  margin-bottom: 18px;
  font-size: 15px;
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .productCard .page2-content .text h4 {
    font-size: 28px;
  }
  .productCard .page2-content .text small {
    font-size: 16px;
  }
}

.productCard .ctaWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-silver);
  grid-gap: 1px;
  padding-top: 1px;
}

.productCard .ctaWrapper a {
  width: 50%;
}

.productCard .ctaWrapper a .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.page2-productCard {
  overflow: visible;
  border-radius: 0;
}

.hexagon {
  -webkit-transition: 0.2s linear 0.2s;
  transition: 0.2s linear 0.2s;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 150px;
  height: 135px;
  background-color: var(--color-nepal);
  color: white;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  .hexagon {
    width: 220px;
    height: 190px;
    padding: 24px;
  }
}

.hexagonWrapper {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 10px;
  position: relative;
}

.hexagonWrapper .hexagon {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .hexagonWrapper.has_4_elements {
    width: 670px;
    height: 390px;
  }
  .hexagonWrapper.has_4_elements .hexagon {
    font-size: 22px;
  }
  .hexagonWrapper.has_4_elements .hexagon:nth-child(2), .hexagonWrapper.has_4_elements .hexagon:nth-child(3) {
    background-color: var(--color-wedgeWood);
  }
  .hexagonWrapper.has_5_elements {
    grid-column-gap: 125px;
    width: 670px;
    height: 390px;
    grid-row-gap: 10px;
  }
  .hexagonWrapper.has_5_elements .hexagon:not(:nth-child(3)) {
    background-color: var(--color-wedgeWood);
  }
  .hexagonWrapper.has_5_elements .hexagon:nth-child(3) {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .hexagonWrapper.has_6_elements {
    grid-row-gap: 10px;
    width: 670px;
    padding: 100px 50px 100px 50px;
    height: 590px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hexagonWrapper.has_6_elements .hexagon:nth-child(1), .hexagonWrapper.has_6_elements .hexagon:nth-child(5) {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .hexagonWrapper.has_6_elements .hexagon:nth-child(5) {
    top: auto;
    bottom: 0px;
  }
}

.btn {
  background-color: var(--color-thunderBird);
  border: none;
  padding: 1rem 1rem 0.8rem;
  color: var(--color-white);
  cursor: pointer;
  -webkit-transition: 0.1s linear 0s;
  transition: 0.1s linear 0s;
  overflow: hidden;
}

.btn:hover {
  opacity: 0.8;
}

.btn.secondary {
  background: var(--color-white);
  color: var(--color-scorpion);
}

.btn.secondary:hover {
  background-color: var(--color-thunderBird);
  color: var(--color-white);
}

.btn.round {
  border-radius: 30px;
}

.btn.small {
  padding: 0.35rem 1.5rem;
}

.fw-light {
  font-weight: 100;
}

.fw-normal {
  font-weight: normal;
}

.fw-medium {
  font-weight: 300;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: 700;
}

.fs-medium {
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .fs-medium {
    font-size: 18px;
  }
}

.fs-large {
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  .fs-large {
    font-size: 20px;
  }
}

h2 {
  font-size: 32px;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 45px;
  }
}

h3 {
  font-size: 15px;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 17px;
  }
}

h4 {
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  h4 {
    font-size: 20px;
  }
}

img.cover {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttonForMobileOnly {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
}

.buttonForDesktopOnly {
  display: none;
}

@media screen and (min-width: 1024px) {
  .buttonForMobileOnly {
    display: none;
  }
  .buttonForDesktopOnly {
    display: block;
  }
}

.selectWrap {
  position: relative;
}

.selectWrap:after {
  content: "▼";
  padding-top: 1px;
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  color: black;
}

.selectWrap select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.countryInput {
  position: relative;
}

.countryInput .selectWrap {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 75px !important;
  border: none;
}

.countryInput .selectWrap .selectSelection {
  width: 100%;
  height: 35px;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  pointer-events: none;
  padding-left: 20px;
  font-size: 12px;
  padding-top: 10px;
}

.countryInput input {
  padding-left: 85px !important;
}
/*# sourceMappingURL=styles.css.map */